$primaryColor: #14b8a6 !default;
$primaryLightColor: #99f6e4 !default;
$primaryDarkColor: #0d9488 !default;
$primaryDarkerColor: #0f766e !default;
$primaryTextColor: #ffffff !default;
$primary500: #14b8a6 !default;

$highlightBg: #f0fdfa !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
