$primaryColor: #f3c300 !default;
$primaryLightColor: #fde68a !default;
$primaryDarkColor: #d97706 !default;
$primaryDarkerColor: #b45309 !default;
$primaryTextColor: #ffffff !default;
$primary500: #f59e0b !default;
$primary50: #F7F7FE !default;

$highlightBg: #fffbeb !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
